fieldset.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-color: #e4e6eb !important;
}

svg.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    fill: #e4e6eb !important;
}

#demo-simple-select {
    color: #e4e6eb !important;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    color: #e4e6eb !important;
}

.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
    fill: #e4e6eb !important;
}
