.CartModal {
    width: 23%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background: white;
    z-index: 11;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.CartModal__body {
    padding: 10px 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    flex-grow: 1;
    overflow-x: hidden;
}

.CartModal__body::-webkit-scrollbar {
    width: 2px;
}

/* Track */
.CartModal__body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.CartModal__body::-webkit-scrollbar-thumb {
    background: rgb(173, 172, 172);
}

/* Handle on hover */
.CartModal__body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.CartModal__footer {
    flex-grow: 3;
    padding: 20px;
    border-top: 1px solid #c1c1c1 ;
}

.CartModal__footer--sale {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: red;
    padding: 10px;
}

.CartModal__footer--calculation {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    font-size: 1.2rem;
}

.CartModal__button--container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.CartModal__buttons {
    padding: 10px;
    border-radius: 9999px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    width: 100%;
}

.CartModal__cart--button {
    background: rgb(196, 192, 192);
}

.CartModal__checkout--button {
    background: rgb(36, 219, 219);
}
