.Product {
    width: 100%;
}

.Product__image--holder {
    position: relative;
    overflow: hidden;
    height: 350px;
}

.Product__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 1.8s ease-out;
    cursor: pointer;
    position: absolute;
}

.subImage {
    visibility: hidden;
    opacity: 0;
}

.Product__image--holder:hover .subImage {
    visibility: visible;
    opacity: 1;
    transform: scale(1.2);
    filter: brightness(0.7);
}

.Product:hover .subImage {
    visibility: visible;
    opacity: 1;
    transform: scale(1.2);
}

.Product__size--holder {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    color: white;
    font-size: 0.8rem;
    transition: 0.2s;
    visibility: hidden;
    opacity: 0;
}

.Product__image--holder:hover .Product__size--holder {
    visibility: visible;
    opacity: 1;
}

.Product__title {
    font-weight: bolder;
    cursor: pointer;
    transition: color 0.2s;
}

.Product__title:hover {
    color: aqua;
}

.Product__price {
    font-size: 0.8rem;
}

.Product__colors--holder {
    display: flex;
    gap: 5px;
}

.Product__button--holder {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
}

.Product__image--holder:hover .Product__button--holder {
    transform: translate(-50%, -50%);
    visibility: visible;
    opacity: 1;
}

.Product__button {
    width: 150px;
    height: 40px;
    background: white;
    border-radius: 9999px;
    margin-top: 10px;
    font-size: 0.9rem;
    position: relative;
    overflow: hidden;
    transition: 0.4s;
    cursor: pointer;
}

.Product__button--content {
    transition: 0.2s;
    text-align: center;
    transform: translateY(12%);
}

.Product__button:hover {
    background-color: black;
}

.Product__button:hover .Product__button--content {
    transform: translateY(-57%);
    color: white;
}

.Product__button--icon {
    margin-top: 30px;
}

.Product__color--outer {
    width: 20px;
    height: 20px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgb(184, 178, 178);
    cursor: pointer;
    position: relative;
}

.Product__color {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.Product__image--placeholder {
    background: rgb(196, 194, 194);
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.placeholder__content {
    font-size: 1.6rem;
    font-weight: bolder;
    animation: flash 1s infinite;
}

.Product__favorite--holder {
    position: absolute;
    top: 3%;
    left: 5%;
}

.Product__favorite--button {
    transition: 0.2s;
    cursor: pointer;
    color: white;
    visibility: hidden;
    opacity: 0;
}

.Product__image--holder:hover .Product__favorite--button {
    visibility: visible;
    opacity: 1;
}

.Product__favorite--button:hover {
    color: rgb(238, 11, 200);
}

.Product__favorite--button:hover + .Product__favorite--tooltip {
    opacity: 1;
    transform: translateX(10%);
}

.Product__favorite--tooltip {
    position: absolute;
    font-size: 0.8rem;
    white-space: nowrap;
    left: 100%;
    top: 0;
    background: rgb(48, 47, 47);
    color: white;
    padding: 2px 8px;
    transition: 0.2s;
    opacity: 0;
}

.Product__favorite--tooltip::before {
    content: "";
    height: 0;
    width: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 12px solid rgb(48, 47, 47);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -5%;
}

.Product__color--tooltip {
    position: absolute;
    font-size: 0.8rem;
    white-space: nowrap;
    top: -100%;
    left: 0;
    background: rgb(48, 47, 47);
    color: white;
    padding: 2px 8px;
    transition: 0.2s;
    opacity: 0;
    text-transform: capitalize;
}

.Product__color--tooltip::before {
    content: "";
    height: 0;
    width: 0;
    border-top: 12px solid rgb(48, 47, 47);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    transform: translateY(-50%);
    left: 5%;
    bottom: -70%;
}

.Product__color--outer:hover .Product__color--tooltip {
    transform: translateY(-70%);
    opacity: 1;
}

@keyframes flash {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.DetailPage__image--displayed {
    min-width: 280px !important;
}