.DetailPage__location {
    padding: 20px;
    background-color: #f6f6f8;
    font-size: 0.9rem;
    margin-bottom: 50px;
}

.DetailPage__location > p {
    max-width: 1150px;
    margin: 0 auto;
}

.DetailPage__product {
    display: flex;
    max-width: 1150px;
    margin: 0 auto;
    gap: 80px;
}

.DetailPage__product--showcase {
    display: flex;
    gap: 10px;
}

.DetailPage__imageGallery {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 10px;
    overflow: hidden;
    flex: 1 0 70px;
    position: relative;
}

.DetailPage__inner {
    transition: transform 1s;
}

.imageGallery__images {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.imageGallery__images:hover {
    opacity: 0.8;
}

.imageGallery__button--container {
    position: absolute;
    bottom: 5px;
    display: flex;
    gap: 2px;
    left: 50%;
    transform: translateX(-50%);
}

.imageGallery__button {
    opacity: 0.6;
    transition: opacity 0.4s;
    width: 35px;
    height: 40px;
    background: rgb(230, 227, 227);
    cursor: pointer;
}

.imageGallery__button:hover {
    opacity: 1;
}

.DetailPage__image--displayed {
    width: 100%;
    object-fit: cover;
}

/* .DetailPage__product--info {
} */

.DetailPage__product--title {
    margin: 0;
    font-size: 1.2rem;
}

.DetailPage__product--price {
    font-size: 1.6rem;
    color: rgb(141, 137, 137);
    margin: 10px 0;
}

.DetailPage__product--description {
    color: rgb(167, 163, 163);
}

.modifier {
    width: 400px;
    gap: 5px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.modifier .CartModal__quanity {
    flex-shrink: 0;
}

.DetailPage__favorite--button {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 50%;
    flex-shrink: 0;
}

.DetailPage__location > p > span:hover {
    cursor: pointer;
    color: aqua;
    transition: color 0.2s;
}
.categories:hover {
    color: aqua;
}
.categories {
    white-space: nowrap;
}
.thu {
    height: 40px;
    align-items: center;
    display: flex;
    gap: 10px;
    flex-direction: row;
}
.thu .QuickViewModal__color--outer {
    border-radius: 50%;
    height: 26px;
    width: 26px;
    cursor: pointer;
}
.thu2 {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center ;
}
.thu2 .QuickViewModal__size--button {
    border-radius: 50%;
    height: 26px;
    width: 26px;
}
.thu2 .QuickViewModal__size--button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}
.DetailPage__imageGallery {
    max-width: 70px !important;
}
.DetailPage__image--displayed {
    max-width: 520px !important;
    min-width: 225px !important;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #00d2ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 1;
}

.glow-on-hover:active {
    color: #fff
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00d2ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}